@charset "UTF-8";

.navbar {
    width:100%;
    position: absolute;
    left:0;
    top:0;
}

.slider-frame {
    height: 100% !important;
}

.slider-list{
    height:100%!important;
}

.carouselImg {
    width: 100%;
    height: 500px !important;
}
.am-badge {
    top:-30px !important;
    right:0 !important;

}